@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
body {background-color: #2980b9;
  color: #ecf0f1;
	font-family: 'Quicksand', sans-serif;
}
a {color: #f1c40f;
  text-decoration: underline;}
h1 {text-align: center;
		position: fixed: auto
}
footer {text-align: center}
