/* fonty  */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
.wrapper {
  color: #2c3e50;
	font-family: 'Lato', sans-serif;
	line-height: 1.2;
  position: center;
  text-align: justify;
  max-width: 1000px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}
#foot {background-color: #27ae60;
  color: #ecf0f1;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  font-weight: bold;}
.wrapper, body {background-color: #ecf0f1;}
body {
  margin: 0px;
  padding: 0px;
  font-family: 'Lato', sans-serif;
  padding-top: 0px;
}

a {color: #27ae60;
  text-decoration: none;}

h1 {text-align: center;
	font-size: 40px;
}
b {font-weight: 900; }
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.kontakt li {list-style-type: disc;}
.kontakt ol li {list-style-type: decimal;}
.avatar {
        position: center;
        margin: auto;
        height: 125px;
        border-radius: 0%;
        width: 125px;
}
.header {
  height: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #27ae60;
  color: #ecf0f1;
  margin: 0px;
	font-family: 'Lato', sans-serif;
	line-height: 1.2;
  position: center;
  text-align: justify;
}
