/* fonty  */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
.wrapper {
  color: #2c3e50;
	font-family: 'Lato', sans-serif;
	line-height: 1.2;
  position: center;
  text-align: justify;
  max-width: 1000px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.scrolltocontent {color: #ecf0f1;
  background-color: transparent;
  width: 50px;
  font-size: 60pt;
  height: 50px;
  padding-top: 0px;
  padding-bottom: 20px;
  vertical-align: middle;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  scroll-behavior: smooth;
  border-width: 0px;}
footer {
  color: #ecf0f1;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #2c3e50;
  -webkit-border-top-right-radius: 30px;
  -moz-border-radius-topright: 30px;
  border-top-right-radius: 30px;
  text-align: center;
  font-weight: bolder;}
.wrapper, body {background-color: #ffff;}
html {scroll-behavior: smooth;}
body {
  margin: 0px;
  padding: 0px;
  margin-top: 0px;
  font-family: 'Lato', sans-serif;
  padding-top: 0px;
}

a {color: #c0392b;
  text-decoration: none;}

h1 {text-align: center;
	font-size: 40px;
}
b {font-weight: 900; }
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.kontakt li {list-style-type: disc;}
.kontakt ol li {list-style-type: decimal;}
.avatar {
        position: center;
        margin: auto;
        height: 125px;
        border-radius: 0%;
        width: 125px;
}
header {
  height: 100vh;
  padding-top: 60px;
  font-weight: bolder;
  padding-bottom: -60px;
  color: #ffff;
  margin: 0px;
	font-family: 'Lato', sans-serif;
	line-height: 1.2;
  position: center;
  background-color: #c0392b;
  text-align: justify;
}
.icon {height: 1em;
  padding-right: 10px;}
