/* fonty  */
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
 .wrapper {
  color: white;
	font-family: 'Courier Prime', sans-serif;
	line-height: 1.2;
  position: center;
  text-align: justify;
  font-weight: 400;
  padding-left: 20px;
  padding-right: 20px;
}
.small {font-size: 10px;
  text-align: center;
color: #101010;}
header, .wrapper, footer {font-family: 'Courier Prime', sans-serif;}
footer {
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  border-top-style: dashed;
  border-top-width: medium;
  font-weight: bold;}
.wrapper, .content {background-color: black;}
html {scroll-behavior: smooth;}
body {
  margin: 0px;
  padding: 0px;
  margin-top: 0px;
  background-color: black
  font-family: 'Courier', sans-serif;
  padding-top: 0px;
}

a {color: #00ff00;
  text-decoration: none;}

h1 {text-align: center;
	font-size: 40px;
}
b {font-weight: 900; }
.center {
  display: block;
  position: center;
  margin-left: auto;
  margin-right: auto;
}

.kontakt li {list-style-type: disc;}
.kontakt ol li {list-style-type: decimal;}
.avatar {
        margin: auto;
        height: 125px;
        border-radius: 0%;
        border-style: dashed;
        width: 125px;
        padding: 10px;
      }
header {
  padding-top: 60px;
  font-weight: bolder;
  color: #ffff;
  margin: 0px;
	font-family: 'Courier Prime', sans-serif;
	line-height: 1.2;
  position: center;
  background-color: black;
  text-align: justify;
}
header {height: 400px;}
.icon {height: 1em;
  width: 1em;
  margin-right: 10px;}
.about p {margin: 10px}
ul {list-style-type: square;}
.content {
  max-width: 1000px;
  margin: auto;
}
.filler {height: 0px;
background-color: black;}
