/* fonty  */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
.wrapper {
  color: #ecf0f1;
	font-family: 'Lato', sans-serif;
	line-height: 1.2;
	padding: 15px;
  margin: auto;
  max-width: 1000px;
  margin: auto;
  position: center;
  text-align: justify;
}

body {background-color: #EB5160;}
a {color: #C5FFFD;
  text-decoration: underline;}
/*a:hover {background-color: #f39c12;
text-decoration: none;} */

h1 {text-align: center;
	font-size: 40px;
}
b {font-weight: bold; }
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.kontakt li {list-style-type: none;}

.avatar {
        position: center;
        margin: auto;
        height: 125px;
        width: 125px;
}
